// page reset

*, *:before, *:after {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  appearance: none;
  background-color: transparent;
  text-decoration: none;
  text-transform: none;
  text-shadow: none;
  box-shadow: none;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition:
    fill $fxSpeed $fxEase,
    stroke $fxSpeed $fxEase,
    border-color $fxSpeed $fxEase,
    background-color $fxSpeed $fxEase,
    opacity $fxSpeed $fxEase,
    transform $fxSpeed $fxEase;
}
